<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anomaly Detection</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>
  </head>
  <body>
    <nav class="bg-gray-800 text-white p-4">
        <div class="container mx-auto flex justify-between">
            <a href="/" class="font-bold">Supply Chain AI</a>
            <div>
                <a href="/" class="px-3 hover:text-gray-300">Home</a>
                <a href="/camera" class="px-3 hover:text-gray-300">Camera Feed</a>
                <a href="/industrial" class="px-3 hover:text-gray-300">Industrial</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
